* {
  background-color: aqua;
}

index.html {
  border-color: black;
  background-color: black;
}

h1 {
  background-color: rgb(67, 76, 73);

  padding-left: 30%;
  padding-top: 0%;
}

h2 {
  padding-left: 30%;
  background-color: yellow;
}

tr {
  padding-top: 20%;
  padding-left: 80%;
  background-color: yellow;
}
